<button (click)="emitBoxClick(+numberAndOperations.key)" class="medium-button item{{+numberAndOperations.key}}"  *ngFor="let numberAndOperations of numberAndOperationButtons | keyvalue  ">
    <div  class="medium-button__number" *ngIf="+numberAndOperations.key == buttonType.AC">
        {{ numberAndOperations.value }}       
     </div>
     <div  class="medium-button__number" *ngIf="+numberAndOperations.key == buttonType.Equal">
        {{ numberAndOperations.value }}       
     </div>
    <div  class="medium-button__number" *ngIf="+numberAndOperations.key != buttonType.AC && +numberAndOperations.key != buttonType.Equal ">
        {{ numberAndOperations.value }}       
     </div>

     
</button>